<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<style>
    .mt5{
    margin:10%;
    }
</style>
{% load crispy_forms_tags %}
<body style="background: #4a5562;">
<div class="mt5"></div>
<div class="col-md-3 bg-light p-4 m-auto rounded">
    <h5 class="my-4 text-center">LOGIN DETAILS:</h5>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <input type="text" placeholder="Enter Username" class="form-control" name="username">
        </div>

        <div class="form-group">
            <input type="password" placeholder="Enter Password" class="form-control" name="password">
        </div>

        {% if request.GET.next %}
            <input type="hidden" name="next" value="{{request.GET.next}}">
        {% endif%}
        <div class="form-group">
            <input type="submit" class="btn btn-success" value="Login">
        </div>
    </form>
</div>
</body>

